.questions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  gap: 10px;
  width: 40%;
}

.question {
  display: flex;
  flex-direction: column;
}

.reponse {
  display: flex;
  align-items: center;
  margin-left: 50%;
  transform: translate(-20%, 0);
}
code {
  display: none;
}

.correct {
  color: green;
  font-size: bold;
}

#result,
.correct {
  font-weight: bolder;
}
